<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierralasesion</title>
</head>
<body>
    <h3>Bienvenido mibro</h3>
    <br>
    <button type="button" id="btnlogout">Cerrar Sesion</button> 
    <button type="button" id="recuperar">Recuperar Contraseña</button> 
    <button type="button" id="eliminar">Eliminar Usuario</button>



    <script type="module" src="/Controllers/home.js"></script> 

</body>
</html>